@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@600&display=swap');

#hdr
{
    font-family: 'Roboto Slab', serif;
    color: #fff;

    background: #21376b;
    height: 6rem;
        width: 100%;

    display: flex;
    justify-self: center;

    padding: 1rem;

}


#hd-div > h1
{
    margin: 0;
    margin-top: 0.4rem;
}

#hd-div
{
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    margin-left: 2rem;

    justify-content: center;
}

#sl-div
{
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    margin-left: 2rem;

    justify-content: center;
}



body{
    background-color: #fefdfa;
}

#frm
{
    display: flex;
    justify-content: center;




}

#inps
{
    color: #fefdfa;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;

    margin-top: 7rem;

    background-color: #3876BF;
    justify-content: center;
    justify-self: center;
    text-align: center;

    height: 20rem;
    width: 20rem;

    border-radius: 15px;
}




.inp
{

    height: 1rem;
    width: 14rem;

    align-self: center;

    text-align: center;

}


.button-15 {
   background-image: linear-gradient(#42A1EC, #0070C9);
   border: 1px solid #0077CC;
   border-radius: 4px;
   box-sizing: border-box;
   color: #FFFFFF;
   cursor: pointer;
   direction: ltr;
   display: block;
   font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 17px;
   font-weight: 400;
   letter-spacing: -.022em;
   line-height: 1.47059;
   min-width: 30px;
   overflow: visible;
   padding: 4px 15px;
   text-align: center;
   vertical-align: baseline;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   white-space: nowrap;

    height: 2rem;
    width: 8rem;

    align-self: center;

}

.button-15:disabled {
    cursor: default;
    opacity: .3;
}

.button-15:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}

.button-15:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
}

.button-15:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}

